#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;

  @media screen and (min-width: 768px) {
    height: 90vh;
    flex-direction: row;
    justify-content: center;
  }
}

header {
  display: flex;
  flex-direction: column;

  h1 {
    color: #d1105a;
  }
  h2 {
    color: #471ca8;
  }
  h2:nth-of-type(2) {
    color: #ff930a;
  }

  @media screen and (min-width: 768px) {
    width: 25%;
    display: grid;
    grid-template-rows: 35% 65%;
  }
}

footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 25%;
    display: grid;
    grid-template-rows: 65% 35%;
  }
}

h1 {
  font-size: 90%;
  margin: 0.8rem;
  transition: 3s;
  -webkit-transition: 3s;
}

h2 {
  font-size: xx-large;
  margin-top: 0.5rem;
}
h3 {
  font-size: xx-large;
  margin: 1rem;
}

section {
  margin: 0.8rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
  text-transform: uppercase;

  button {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: relative;

    h3 {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    button {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 1rem;
      background-color: transparent;
    }
    &:hover {
      button {
        transform: scale(1.1);
        transition: 1s;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.hovered h1 {
    transform: scale(1.1);
    transform-origin: center;
    transition: 2s;
    -webkit-transition: 2s;
  }
}
