#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;  
  color: white;

  @media screen and (min-width: 768px) {
    height: 70vh;
    flex-direction: row;
    justify-content: center;
  }
}

header {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 25%;
    display: grid;
    grid-template-rows: 35% 65%;
  }
}

main {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 25%;
    display: grid;
    grid-template-rows: 65% 35%;
  }
}

h2, h3 {
  font-size: xx-large;
  margin: 0.8rem;
}

section {
  margin: 0.8rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    position: relative;

    h3 {
      position: absolute;
      bottom: 0px;
      left: 0px;

    } 
  }
}

.title {
  padding: 3rem 0;
}

.tools {
  background-color: #471ca8;
}

.projects {
  background-color: #FF930A;
}

.about {
  background-color: #884AB2;
}

.contact {
  background-color: #D1105A;
}

.social {
  background-color: #f24b04;
}