.tools {
  background-color: #471ca8;
  align-content: center;

  img {
    width: 33%;
  }
  .tools-logos {
    display: none;
    padding: 2rem;
  }

  &.hovered .tools-logos.visible {
    display: flex;
    flex-wrap: wrap;

    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
