.contact {
  background-color: #d1105a;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-list {
    display: none;
  }

  a {
    color: #ffffff;
  }

  &:hover .contact-list.visible {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .media {
      display: flex;
    }

    a:hover,
    li:hover {
      transform: scale(1.05);
      transform-origin: center;
      transition: 1s;
      -webkit-transition: 1s;
    }
  }

  &.unhovered .contact-list.shading {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeOut 1.1s;
    -webkit-animation: fadeOut 1.1s;

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
